<div class="container">
    <br>
    <form [formGroup]="individualForm" *ngIf="userDetails.role=='Individual'" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput readonly formControlName="name" placeholder="Name" required>
                    <mat-error *ngIf="individualForm.get('name')?.hasError('required')">Name is required</mat-error>
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput readonly formControlName="email" placeholder="Email" required>
                    <mat-error *ngIf="individualForm.get('email')?.hasError('required')">Email is required</mat-error>
                    <mat-error *ngIf="individualForm.get('email')?.hasError('email')">Invalid email</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="dobPicker" placeholder="Choose a date"
                        (dateInput)="calculateAge($event)" formControlName="dob">
                    <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
                    <mat-datepicker #dobPicker></mat-datepicker>
                    <mat-error *ngIf="individualForm.get('dob')?.hasError('required')">Date of Birth is
                        required</mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Age</mat-label>
                    <input readonly matInput formControlName="age" placeholder="Age" required>
                    <mat-error *ngIf="individualForm.get('age')?.hasError('required')">Age is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row" *ngIf="individualForm.get('age')?.value<18">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Guardian Mobile Number</mat-label>
                    <input matInput formControlName="guardianNumber" placeholder="Guardian Number" required>
                    <mat-error *ngIf="individualForm.get('guardianNumber')?.hasError('required')">Guardian Number is
                        required</mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Guardian Email</mat-label>
                    <input matInput formControlName="guardianEmail" placeholder="Guardian Email" required>
                    <mat-error *ngIf="individualForm.get('guardianEmail')?.hasError('required')">Guardian Email is
                        required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput formControlName="mobileNumber" placeholder="Mobile Number" required>
                    <mat-error *ngIf="individualForm.get('mobileNumber')?.hasError('required')">Mobile Number is
                        required</mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" required>
                        <mat-option value="" disabled>Select Gender</mat-option>
                        <mat-option value="Male">Male</mat-option>
                        <mat-option value="Female">Female</mat-option>
                    </mat-select>
                    <mat-error *ngIf="individualForm.get('gender')?.hasError('required')">Gender is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div  style="display: flex; justify-content: center;">
            <button style="text-align: center;" mat-raised-button color="primary" type="submit">Submit</button>
        </div>
    </form>

    <!-- Organization User Form -->
    <form [formGroup]="organizationForm" *ngIf="userDetails.role=='Organization'" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Organization Name</mat-label>
                    <input matInput readonly formControlName="name" placeholder="Organization Name" required>
                    <mat-error *ngIf="organizationForm.get('name')?.hasError('required')">Organization Name is
                        required</mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Authority Email</mat-label>
                    <input matInput readonly formControlName="email" placeholder="Authority Email" required>
                    <mat-error *ngIf="organizationForm.get('email')?.hasError('required')">Authority Email is
                        required</mat-error>
                    <mat-error *ngIf="organizationForm.get('email')?.hasError('email')">Invalid email</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Authority Name</mat-label>
                    <input matInput formControlName="authorityName" placeholder="AuthorityS Name" required>
                    <mat-error *ngIf="organizationForm.get('authorityName')?.hasError('required')">Authority Name is
                        required</mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Authority Date of Birth</mat-label>
                    <input matInput [matDatepicker]="dobPicker" placeholder="Choose a date"
                        formControlName="authorityDOB">
                    <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
                    <mat-datepicker #dobPicker></mat-datepicker>
                    <mat-error *ngIf="organizationForm.get('authorityDOB')?.hasError('required')">Authority Date of
                        Birth is
                        required</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Authority Number</mat-label>
                    <input matInput formControlName="authorityPhone" placeholder="Authority Number" required>
                    <mat-error *ngIf="organizationForm.get('authorityPhone')?.hasError('required')">Authority Number
                        is required</mat-error>
                </mat-form-field>
            </div>

            <div class="col" style="text-align: center;">
                <button style="text-align: center;" mat-raised-button color="primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>