<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Your Campaign Registration Successful</title>
</head>

<body>
    <h1>You're In!</h1>
    <p>Hi {{firstName}},</p>
    <p>Thank you for registering for {{title}}! We're excited to have you on board.</p>
    <p>Here are the details of the campaign:</p>
    <ul>
        <li><strong>Campaign Name:</strong> {{title}}</li>
        <li><strong>Start Date:</strong> {{startDate}}</li>
        <li><strong>End Date:</strong> {{endDate}}</li>
        <li><strong>Location:</strong> {{location}}</li>
    </ul>
    <p>If you have any questions or need more information, don’t hesitate to contact our Support Team.</p>
    <p>We look forward to your participation!</p>
    <p>Best regards,<br>
        The Fund Raising Team<br>
        Fund Raising</p>
</body>

</html>