<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Confirm Your Registration</title>
</head>

<body>
    <h1>Welcome to Fund Raising!</h1>
    <p>Hi {{firstName}},</p>
    <p>Thank you for registering with us!</p>
    <p>If you did not register for an account, please ignore this email.</p>
    <p>If you have any questions or need assistance, feel free to reach out to our support Team.</p>
    <p>Welcome aboard!</p>
    <p>Best regards,<br>
        The Fund Raising Team,<br>
        Fund Raising</p>
</body>

</html>