.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-mdc-card {
    max-width: 400px;
    /* background-color: aquamarine; */
    padding: 30px;
    width: 100%;
}

.mat-mdc-card-title {
    margin-bottom: 20px;
    font-size: xx-large;
    text-align: center;
}

p {
    text-align: center;
    margin-top: 5px;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

.campaign-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.pointer-cursor {
    cursor: pointer;
}