<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>Aranyak | Landing Page Template</title>


  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicons/favicon.ico">
  <link rel="manifest" href="/assets/img/favicons/manifest.json">
  <meta name="msapplication-TileImage" content="/assets/img/favicons/mstile-150x150.png">
  <meta name="theme-color" content="#ffffff">
  <script src="/assets/js/config.js"></script>

  <!-- ===============================================-->
  <link rel="stylesheet" href="/vendors/swiper/swiper-bundle.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&amp;display=swap"
    rel="stylesheet">
  <link href="/assets/css/theme.css" rel="stylesheet" id="style-default">
  <link href="/assets/css/user-rtl.css" rel="stylesheet" id="user-style-rtl">
  <link href="/assets/css/user.css" rel="stylesheet" id="user-style-default">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>


<body>

  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main class="main" id="top">
    <div class="bg-white">
      <div class="content">
        <div class="bg-white p-1 p-lg-2">
          <div class="container">
          </div>
        </div>
        <nav class="navbar navbar-expand-lg py-1" id="navbar-top"
          data-navbar-soft-on-scroll="data-navbar-soft-on-scroll">
          <div class="container"><a class="navbar-brand me-lg-auto cursor-pointer" href=""><img src="assets/logo2.webp"
                height="50px" /><b> FUND RAISING</b></a>
            <button class="navbar-toggler border-0 pe-0" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent"
              data-navbar-collapse="data-navbar-collapse">
              <div class="container d-lg-flex justify-content-lg-end pe-lg-0 w-lg-100">
                <ul class="navbar-nav mt-2 mt-lg-1 ms-lg-4 ms-xl-8 ms-2xl-9 gap-lg-x1"
                  data-navbar-nav="data-navbar-nav">
                  <li class="nav-item" *ngFor="let section of sections">
                    <a class="nav-link nav-bar-item px-0" [ngClass]="{ 'active': section.active }"
                      [href]="'#' + section.id" [title]="section.name">
                      {{ section.name }}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-bar-item px-0" routerLink="/registration" title="Register">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-bar-item px-0" routerLink="/login" title="Login">Login</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <div class="container" data-bs-target="#navbar-top" data-bs-spy="scroll" tabindex="0">
          <section class="mb-9 mb-lg-10 mb-xxl-11 text-center text-lg-start mt-9" id="home">
            <div>
              <div class="row g-4 g-lg-6 g-xl-7 mb-6 mb-lg-7 mb-xl-10 align-items-center">
                <div class="col-12 col-lg-6"><img class="img-fluid w-50 w-lg-100" src="assets/img/Hero/fund.jpg"
                    alt="" /></div>
                <div class="col-12 col-lg-6">
                  <h1 class="fs-5 fs-md-3 fs-xxl-2 text-black fw-light mb-4">Every <span class="fw-bold">charitable
                    </span>act makes a <br class="d-sm-none d-md-block d-xxl-none" /> <span
                      class="text-gradient fw-bold">Difference</span></h1>
                  <p class="fs-8 fs-md-11 fs-xxl-7 text-primary mb-5 mb-lg-6 mb-xl-7 fw-light">
                    <!-- First timer or experienced, we have something for you.
                      Take a look at our vast collection of greenery & let us help you transform your household and front/back
                      yard. -->
                    Giving the help to those who need it. Join the movement to end child poverty
                  </p>
                  <button (click)="navigateToJoin()" class="btn btn-gradient fs-8 mt-1 d-inline-flex"><span>Join
                      Now</span><span class="uil uil-arrow-right"></span></button>
                </div>
              </div>
              <!-- <div class="row g-4 g-lg-6 g-xl-7 align-items-center">
                  <div class="col-12 col-lg-6 order-1 order-lg-0">
                    <p class="fs-8 fs-md-7 fs-xxl-6 text-success fw-bold mb-x1 text-capitalize">we have got you covered </p>
                    <h1 class="fs-5 fs-md-3 fs-xxl-2 text-secondary text-capitalize fw-light mb-4">However Popular or <br class="d-none d-md-block d-lg-none" /><span class="fw-bold">rare plant </span><br class="d-none d-xl-block d-xxl-none" /><br class="d-sm-none" />it is</h1>
                    <p class="fs-8 fs-md-11 fs-xxl-7 text-primary mb-5 mb-lg-6 mb-xl-7 fw-light">
                      Our catalog of plants of fruits and flowers;
                      for indoors and outdoors; is expanding everyday.
                    </p>
                    <button class="btn btn-gradient fs-8 d-inline-flex"><span>explore catalog</span><span class="uil uil-arrow-right"></span></button>
                  </div>
                  <div class="col-12 col-lg-6 order-0 order-lg-1"><img class="img-fluid w-50 w-lg-100" src="assets/img/Hero/planting.png" alt="" /></div>
                </div> -->
            </div>
          </section>
          <section class="mb-9 mb-lg-10 mb-xxl-11">
            <div class="row g-4">
              <div class="col-12 col-lg-4 text-center"><img class="mb-3" src="assets/img/icons/fund.png" alt="" />
                <h1 class="text-secondary fs-4 fs-lg-3 fs-xl-2 counter-delivared"
                  data-countup='{"endValue":9124201,"autoIncreasing":true}'
                  style="font-variant-numeric: lining-nums proportional-nums;">0</h1>
                <p class="text-success fs-7 fs-xl-6 fw-bold mb-0">
                  Donate <br class="d-none d-xl-block d-xxl-none" />Money</p>
              </div>
              <div class="col-12 col-lg-4 text-center"><img class="mb-3" src="assets/img/icons/kid.jpg" alt="" />
                <h1 class="text-secondary fs-4 fs-lg-3 fs-xl-2" data-countup='{"endValue":36487}'
                  style="font-variant-numeric: lining-nums proportional-nums;"> 0</h1>
                <p class="text-success fs-7 fs-xl-6 fw-bold mb-0">
                  Save <br class="d-none d-xl-block d-xxl-none" />Children</p>
              </div>
              <div class="col-12 col-lg-4 text-center"><img class="mb-3" src="assets/img/icons/don1.jpg"
                  style="height:125px" alt="" />
                <h1 class="text-secondary fs-4 fs-lg-3 fs-xl-2" data-countup='{"endValue":400,"suffix":"+"}'
                  style="font-variant-numeric: lining-nums proportional-nums;"> 0</h1>
                <p class="text-success fs-7 fs-xl-6 fw-bold mb-0">
                  Donate <br class="d-none d-xl-block d-xxl-none" />Food </p>
              </div>
            </div>
          </section>
          <section class="mb-9 mb-lg-10 mb-xxl-11 text-center text-lg-start" id="about">
            <h4 class="mb-x1 fs-8 fs-md-7 fs-xxl-6 text-success fw-bold pt-6 text-capitalize">About us </h4>
            <h1 class="fs-5 fs-lg-3 fs-xl-2 text-secondary text-capitalize fw-light mb-x1">Where <span
                class="fw-bold">Compassion </span>meets action to Alleviate hunger <br /><span class="fw-bold"> uplift
                communities</span> </h1>
            <div class="row mb-7 mb-lg-8 mb-xl-9 gap-3">
              <div class="col-12 col-lg">
                <p class="text-black fs-10 fs-md-9 fs-xxl-8 lh-xl mb-0 line-clamp-5"> We provide a seamless platform
                  where donors can discover a wide range of campaigns that align with their values and interests.
                  Whether you're passionate about environmental conservation, social justice, education, or healthcare,
                  you can find campaigns that resonate with you.

                </p>
              </div>
              <div class="col-12 col-lg">
                <p class="text-black fs-10 fs-md-9 fs-xxl-8 lh-xl mb-0 line-clamp-5">By supporting campaigns on our
                  platform, donors play a crucial role in driving meaningful change. Every contribution, no matter how
                  big or small, helps campaigns achieve their goals and make a real difference in the lives of
                  individuals and communities.

                </p>
              </div>
            </div>
          </section>
          <section class="mb-9 mb-lg-10 mb-xxl-11 text-center text-lg-start" id="campaigns">
            <h4 class="mb-x1 fs-8 fs-md-7 fs-xxl-6 text-success fw-bold pt-6 text-capitalize">Campaigns </h4>
            <h1 class="fs-5 fs-lg-3 fs-xl-2 text-secondary text-capitalize fw-light mb-x1">Total Fund Received : <span
                class="fw-bold">{{totalDonation}} </span> </h1>
            <div class="row mb-7 mb-lg-8 mb-xl-9 gap-3">
              <div class="campaign-container">
                <div *ngFor="let product of campaigns" class="card">
                  <img [src]="product.image" alt="Product" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <div class="card-text" [innerHTML]="product.description"></div>
                    <br>
                    <div class="card-actions">
                      <a routerLink="/login" class="card-link">Register</a>
                        <!-- Example usage of campaign data -->
                          <a (click)="knowMore(product)" class="card-link pointer-cursor">Know more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pagination">
                <button class="pag-btn" (click)="onPageChange(page - 1)" [disabled]="page === 1">Previous</button>
                <button class="pag-btn"  (click)="onPageChange(page + 1)" [disabled]="page * pageSize >= campaigns.length">Next</button>
              </div>
            </div>
          </section>
        </div>
        <button class="btn scroll-to-top" data-scroll-top="data-scroll-top"><span
            class="uil uil-angle-up text-white"></span></button>
        <footer class="Footer" style="background-image: url('assets/img/illustrations/BOTTOM.png')">
          <div class="pb-x1 px-3 px-lg-0">
            <div class="container">
              <div class="row align-items-end g-4 g-sm-6">
                <div class="col-6 col-md-4">
                  <div class="mb-6 mb-md-8"><span
                      style="font-size: larger;color: white"><b>FUND RAISING</b></span></div>
                  <div>
                    <div class="mb-2"> <a class="links" href="#">Home</a></div>
                    <div class="mb-2"> <a class="links" href="#about">About</a></div>
                  </div>
                </div>
                <div class="col-6 col-md-4">
                  <div class="mb-3 mb-md-5">
                    <h3 class="fs-9 fs-md-8 fw-bold mb-0" style="color: #FFF0D3;">User Account</h3>
                  </div>
                  <div>
                    <div class="mb-2"> <a class="links" routerLink="/registration">Sign Up</a></div>
                    <div class="mb-2"> <a class="links" routerLink="/login">Log In </a></div>

                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="row g-4 g-sm-6 g-md-0">
                    <div class="col-6 col-md-12 mb-md-7">
                      <h3 class="fs-9 fs-md-8 fw-bold mb-3" style="color: #FFF0D3;">Follow Us At</h3>
                      <div class="d-flex align-items-center"> <a class="social-icon me-2" href="#!"><span
                            class="uil uil-facebook fs-8"></span></a><a class="social-icon me-2" href="#!"><span
                            class="uil uil-linkedin fs-8"></span></a><a class="social-icon me-2" href="#!"><span
                            class="uil uil-youtube fs-8"></span></a><a class="social-icon" href="#!"><span
                            class="uil uil-twitter fs-8"></span></a></div>
                    </div>
                    <div class="col-6 col-md-12">
                      <div class="mb-3">
                        <p class="fs-9 fs-md-8 fw-bold lh-nomal mb-0" style="color: #FFF0D3;"> Contact </p>
                      </div>
                      <div class="fs-10 fs-md-9">
                        <p class="mb-0 text-white opacity-70"> Bangalore</p>
                        <p class="mb-0 text-white opacity-70"> India</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-success py-2 py-md-3 position-relative terms-condition">
            <div class="overley-background"></div>
          </div>
        </footer>
      </div>
    </div>
  </main>
  <!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->




  <!-- ===============================================-->
  <!--    JavaScripts-->
  <!-- ===============================================-->
  <script src="/vendors/popper/popper.min.js"></script>
  <script src="/vendors/bootstrap/bootstrap.min.js"></script>
  <script src="/vendors/is/is.min.js"></script>
  <script src="/vendors/countup/countUp.umd.js"></script>
  <script src="/vendors/swiper/swiper-bundle.min.js"></script>
  <script src="/vendors/lodash/lodash.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
  <script src="/vendors/list.js/list.min.js"></script>
  <script src="/assets/js/theme.js"></script>

</body>

</html>